/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #000000;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
}

h2 {
    color: #2bff00;
    margin: 20px 0;
}

p{
    color: #fff;
}

.title-div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los elementos de forma que ocupen todo el ancho */
    width: 90vw;
    max-width: 600px;
    margin-bottom: 1rem;
    border-radius: 8px;
    overflow: hidden;
}

.ImagenLogin{
    max-width: 100%;
    max-height: 300px; /* Altura m치xima para la imagen del resultado */
    display: block; /* Elimina el espacio extra debajo de la imagen */
    margin: auto; /* Centra la imagen horizontalmente */
}

/* Estilos del formulario */
#loginForm {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Alinea los elementos de forma que ocupen todo el ancho */
    width: 90vw;
    max-width: 600px;
    margin-bottom: 1rem;
    border-radius: 8px;
    overflow: hidden;
}

#loginForm input[type="text"],
#loginForm input[type="password"],
#loginForm button {
    padding: 15px;
    margin: 5px 0; /* Espacio entre los inputs y el bot칩n */
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
    background-color: #fff;
    color: #333;
}

#loginForm button {
    background-color: #2bff00;
    color: #000000;
    cursor: pointer;
}

#loginForm button:hover {
    background-color: #28e000;
}

.register-link {
    color: #fff;
    margin-top: 15px;
}

.register-link a {
    color: #2bff00;
    text-decoration: none;
    
    background-color: #333; /* Color de fondo para el enlace */
    padding: 10px 20px; /* Padding para hacerlo parecer un bot칩n */
    border-radius: 5px; /* Bordes redondeados para el enlace */
    display: inline-block; /* Para aplicar padding y margin */
    transition: background-color 0.3s ease; /* Transici칩n suave para el hover */
}

.register-link a:hover {
    background-color: #2bff00;
    color: #000000;
}

/* Media queries para la responsividad */
@media (max-width: 768px) {
    #loginForm input[type="text"],
    #loginForm input[type="password"],
    #loginForm button {
        padding: 12px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 18px;
    }

    #loginForm {
        width: 95vw;
    }

    #loginForm input[type="text"],
    #loginForm input[type="password"],
    #loginForm button {
        padding: 10px;
        font-size: 14px;
    }
}
